<div class="border-right p-3" id="sidebar">
  <a href="tests/home">
    <img class="sidebar-img" src="../../../../assets/images/logo_ROBOMATIC.png" alt="">
  </a>
    <hr class="text-white">

    <div class="list-group list-reset p-2">
      <a href="#" class=" list-group-item list-group-item-action">Something</a>
    </div>
    <div class="list-group list-reset p-2">
      <a href="#" class="list-group-item list-group-item-action">Something</a>
    </div>
    <!--div class="list-group list-reset p-2">
      <a href="#" class="list-group-item list-group-item-action">Something</a>
    </div>
    <div class="list-group list-reset p-2">
      <a href="#" class="list-group-item list-group-item-action">Something</a>
    </div>
    <div class="list-group list-reset p-2">
      <a href="#" class="list-group-item list-group-item-action">Something</a>
    </div>
    <div class="list-group list-reset p-2">
      <a href="#" class="list-group-item list-group-item-action">Something</a>
    </div-->
  </div>