<div class="d-flex flex-row-reverse mt-3 mb-3">
  <button routerLink="/tests/create" [queryParams]="{folderId: folder}">New Test</button>
  <button (click)="createFolderModal()">New Folder</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let element">{{element.user}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{element.type}}</td>
  </ng-container>

  <ng-container matColumnDef="lastUpdate">
    <th mat-header-cell *matHeaderCellDef>Last Update</th>
    <td mat-cell *matCellDef="let element">{{element.last_update | date}}</td>
  </ng-container>

  <ng-container matColumnDef="lastExecution">
    <th mat-header-cell *matHeaderCellDef>Last Execution</th>
    <td mat-cell *matCellDef="let element">{{element.last_execution | date}}</td>
  </ng-container>

  <ng-container matColumnDef="execute">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex">
        <button *ngIf="(element.permissions === 'owner' || element.permissions === 'edit' || element.permissions === 'execute') && !element.is_running" (click)="execute(element)"><i class="bi bi-play"></i></button>
        <button *ngIf="(element.permissions === 'owner' || element.permissions === 'edit' || element.permissions === 'execute') && element.is_running" (click)="stop(element)"><i class="bi bi-stop-btn"></i></button>
        <button *ngIf="(element.permissions === 'owner' || element.permissions === 'edit') && !element.is_running" [routerLink]="'/tests/edit/'+element.id" [queryParams]="{folderId: folder}"><i class="bi bi-pencil"></i></button>
        <button *ngIf="(element.permissions === 'owner' || element.permissions === 'edit' || element.permissions === 'execute') && !element.is_running" [routerLink]="'/tests/evidence/'+element.id"><i class="bi bi-archive"></i></button>
        <button *ngIf="element.permissions === 'owner' || element.permissions === 'edit' || element.permissions === 'execute'"><i class="bi bi-stopwatch"></i></button>
        <button *ngIf="((element.permissions === 'owner' || element.permissions === 'edit') && !element.is_running) || element.type === 'folder'" (click)="deleteRecord(element)"><i class="bi bi-trash3"></i></button>
        <button *ngIf="((element.permissions === 'owner' || element.permissions === 'edit') && element.is_running)" (click)="webWatcherModal(element)"><i class="bi bi-binoculars"></i></button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>State</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.is_running" class="spinner-border"></span>
      <span *ngIf="!element.is_running && element.last_execution_state == 'success'"><i class="bi bi-check-circle-fill"></i></span>
      <span *ngIf="!element.is_running && element.last_execution_state == 'failed'"><i class="bi bi-x-octagon-fill"></i></span>
      <span *ngIf="!element.is_running && element.last_execution_state == 'stopped'"><i class="bi bi-exclamation-diamond-fill"></i></span>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <img *ngIf="inLoad; else showTable" src="../../../assets/loader.svg">
  <ng-template #showTable>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </ng-template>
</table>
<span *ngIf="inLoad" class="spinner-border"></span>
  