<div class="row">
    <div class="col-md-6 image-container">
        <div class="container-fluid login-image">
        </div>
    </div>
    <div class="col-md-6 login-form">
        <p class="bounce" *ngIf="singupMode">Are you already sing in? <button (click)="changeMode('login')">Login</button></p>
        <p class="bounce" *ngIf="loginMode">Don't have an account yet? <button (click)="changeMode('singup')">Sing up</button> with us</p>
        <div *ngIf="loginMode" class="login wrap">
            <div class="h1">Login</div>
            <input [(ngModel)]="username" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" placeholder="Email" id="email" name="email" type="text">
            <input [(ngModel)]="password" placeholder="Password" id="password" name="password" type="password">
            <input value="Login" class="btn" type="submit" (click)="login()">
          </div>
        <div *ngIf="singupMode" class="login singup wrap">
            <!--div class="h1">Sing Up</div-->
            <input [(ngModel)]="singUpRequest.email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" placeholder="Email" id="email" name="email" type="text">
            <input [(ngModel)]="singUpRequest.fist_name" placeholder="First Name" id="firstName" required name="firstName" type="text">
            <input [(ngModel)]="singUpRequest.last_name" placeholder="Last Name" id="lastName" required name="lastName" type="text">
            <input [(ngModel)]="singUpRequest.phone" placeholder="Phone Number" id="phone" name="phone" type="text">
            <input [(ngModel)]="singUpRequest.pass" placeholder="Password" id="password" name="password" type="password" required>
            <input [(ngModel)]="confirmPassword" placeholder="Confirm Password" id="password" name="confirmPassword" type="password" required>
            <input value="Singup" class="btn" type="submit" (click)="singup()">
        </div>
        <div *ngIf="singUpSuccess" class="login wrap">
            <div class="h1">Sing Up Successfull</div>
            <h3 class="bounce">One more step left!!</h3>
            <p class="bounce">We sent you an email with instructions to complete your registration. Thank you for joining us</p>
        </div>
    </div>
</div>