<div class="topnav">
    <div class="d-flex">
      <div class="flex-grow-1">
        <a class="active" href="tests/home">Home</a>
      </div>
      <!--div>
        <button (click)="logout()"> Log out</button>
      </div-->
      <!--div mdbDropdown class="btn-group dropdown">
        <button 
          class="btn btn-default dropdown-toggle" 
          type="button" 
          data-bs-toggle="dropdown" 
          aria-expanded="false" 
          id="dropdownMenu" 
          mdbDropdownToggle>
          <i class="bi bi-person-circle i-header"></i>
        </button>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li><button class="dropdown-item" type="button" (click)="logout()">Log out</button></li>
        </ul>
      </div-->
      <mat-toolbar color="primary">
        <span>My App</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i class="bi bi-person-circle i-header"></i>
        </button>
      </mat-toolbar>
      
      <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item>Item 3</button>
      </mat-menu>
    </div>
  </div>