<div class="topnav">
    <div class="d-flex">
      <div class="flex-grow-1">
        <a class="active" href="tests/home">Home</a>
      </div>
      <div>
        <button (click)="logout()"> Log out</button>
      </div>
      <!--div mdbDropdown class="btn-group dropdown">
        <button 
          class="btn btn-default dropdown-toggle" 
          type="button" 
          data-bs-toggle="dropdown" 
          aria-expanded="false" 
          id="dropdownMenu" 
          mdbDropdownToggle>
          <i class="bi bi-person-circle i-header"></i>
        </button>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li><button class="dropdown-item" type="button" (click)="logout()">Log out</button></li>
        </ul>
      </div-->
    </div>
  </div>