<nav class="breadcrumb-nav" aria-label="breadcrumb" *ngIf="breadcrumbs.length > 0">
  <ol class="breadcrumb">
    <!-- Home icon -->
    <li class="breadcrumb-item home-item">
      <a routerLink="/tests/home" title="Home">
        <i class="bi bi-house-fill"></i>
      </a>
    </li>
    
    <!-- Breadcrumb items -->
    <li 
      class="breadcrumb-item" 
      *ngFor="let breadcrumb of breadcrumbs; let last = last" 
      [class.active]="last">
      
      <!-- Link (not last) -->
      <a *ngIf="!last && !breadcrumb.action" [routerLink]="breadcrumb.url">
        {{ breadcrumb.label }}
      </a>
      
      <!-- Action link (not last) -->
      <a *ngIf="!last && breadcrumb.action" href="javascript:void(0)" (click)="breadcrumb.action()">
        {{ breadcrumb.label }}
      </a>
      
      <!-- Current page (last) -->
      <span *ngIf="last" class="current-page">{{ breadcrumb.label }}</span>
    </li>
  </ol>
</nav>
